html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

html, body, #__nuxt, #__layout {
	height: 100%;
	width: 100%;
}
body {
	font-family: Lusitana, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-label {
	@apply block text-gray-700 text-sm font-bold mb-2 font-display
}
.form-input {
	@apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}
.form-button {
	@apply font-bold text-gray-100 font-display rounded-full px-4 py-2
}
.form-select {
	@apply shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

.title {
	font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	display: block;
	font-weight: 300;
	font-size: 100px;
	color: #35495e;
	letter-spacing: 1px;
}

.search-input {
	@apply transition-colors duration-100 ease-in-out border border-transparent rounded-lg py-2 pr-4 pl-4 block appearance-none leading-normal rounded-lg shadow
}

.favourite > div:first-child {
    border-left: 1rem solid #535FD7;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 3rem;
    width: 1px;
    margin-top: -0.75em;
    margin-left: 0.25rem;
    transform: rotate(45deg);
}

main {
	display: grid;
}

header {
	background: #34373c;
	background-image: url('/header-bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
}

.sign-in-out {
	@apply ml-auto my-auto mr-8 font-bold text-gray-800 font-display rounded-full px-4 py-2 bg-gray-200 whitespace-no-wrap
}

.nav-link {
	text-shadow: 1px 1px black;
	@apply block p-4 font-bold text-gray-100
}